header {
	background-color: #364552;
	padding: 2rem 1rem;
}

header h1 {
	font-size: 3rem;
	text-align: center;
	color: white;
}

header p {
	text-align: center;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header small {
	color: white;
	text-align: center;
}

.foxAccountant {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
}

.foxAccountant {
	position: sticky;
	top: 0rem;
}

.foxAccountant p {
	margin-left: 0.4rem;
	margin-right: 1rem;
	padding: 0.5rem;
	color: white;
	border-radius: 0.4rem;
	background-color: #145374;
}

.button-container {
	display: flex;
	justify-content: center;
	background-color: #efefef;
}

.button-container {
	position: sticky;
	top: 4rem;
}

button {
	width: 14rem;
	height: 3rem;
	margin: 1rem 2rem;
	padding: 1rem;
	border: none;
	border-radius: 1.5rem;
	background-color: snow;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

button:hover {
	/* background-color: aqua; */
	/* transform: scale(1.1); */
	/* box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3); */
	background-color: #145374;
	color: white;
	font-weight: bold;
}

#root {
	width: 100%;
	min-height: 30vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.foxContainer {
	width: 22rem;
	margin: 1rem 0;
	padding: 0.25rem 0;
	border-radius: 0.5rem;
	background-color: white;
	transition: box-shadow 0.3s ease;
	cursor: pointer;
}

.foxContainer:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

.foxContainer h2,
.foxContainer p {
	margin: 1.6rem;
}

img {
	width: 100%;
	background: lightgray no-repeat;
	min-height: 4rem;
}

footer {
	background-color: #222;
	padding: 3rem;
	color: white;
}

footer section {
	float: right;
}

footer p {
	margin: 0;
}

footer a {
	transition: color 0.3s ease;
	color: white;
	text-decoration: none;
}

footer a:hover {
	color: cornflowerblue;
}
