.header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 0.2rem 0 rgb(93 96 99 / 10%);
}

.main {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}

.main--section_foxAccountant {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #efefef;

    position: sticky;
    top: 0rem;
}

.main--section_foxAccountant p {
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
    color: snow;
    background-color: #145374;
}

.main--section_interaction {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #efefef;

    position: sticky;
    top: 6.8rem;
}

.main--section_interaction button {
    padding: 2rem;
    border: none;
    border-radius: 2.4rem;
    background-color: snow;
    box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 30%);
    transition: all 0.12s ease-in-out;
}

.main--section_interaction button:hover {
    transform: scale(1.12);
}

#root {
    margin: 0 auto 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foxContainer {
    width: 32rem;
    margin: 2rem;
    border-radius: 2.4rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    transition: all 0.12s ease;
}

.foxContainer:hover {
    transform: scale(1.04);
}

.foxContainer h2,
.foxContainer p {
    margin: 2rem;
}

.foxContainer img {
    width: 100%;
    background-color: lightgray no-repeat;
    min-height: 4rem;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #364552;
    color: #fffffc;
}

.footer > section {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_first_section a {
    color: snow;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.footer_first_section a:hover {
    color: lightblue;
}

.footer_second_section img {
    width: 4rem;
    margin: 0 2rem;
    transition: all 0.12s ease-in-out;
}

.footer_second_section img:hover {
    transform: scale(1.24);
}

/* Media Q */
@media (min-width: 768px) {
    .footer {
        flex-direction: row;
    }

    .footer > section {
        margin: 0 auto;
    }
}
